<mat-card>
  <mat-card-header>
    <h2>User Login</h2>
  </mat-card-header>
  <mat-card-content>
    <form
      #loginForm="ngForm"
      class="example-form"
      (ngSubmit)="proceedlogin(loginForm.value)"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          name="email"
          required
          #email="ngModel"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          ngModel
        />
        <span *ngIf="email.invalid && email.touched" style="color: red"
          >Please enter a Valid email</span
        ><br />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          name="password"
          required
          #password="ngModel"
          pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}"
          ngModel
        />
        <span *ngIf="password.invalid && password.touched" style="color: red"
          >Password must have at least 8 character, one upper case and a
          number</span
        ><br />
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary">Login</button>
        <a routerLink="/register" mat-raised-button color="accent">New User?</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
