<mat-card>
  <mat-card-header>
    <h2>User Login</h2>
  </mat-card-header>
  <mat-card-content>
    <form
      #loginForm="ngForm"
      class="example-form"
      (ngSubmit)="proceedlogin(loginForm.value)"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" ngModel />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" ngModel />
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary">Login</button>
        <a routerLink="/register" mat-raised-button color="accent">New User?</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
