<h1 class="mat-headline-3">Register as a Tutor</h1>
<div class="row">
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput readonly [value]="fname" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input matInput readonly [value]="lname" />
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput readonly [value]="email" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Phone</mat-label>
    <input matInput readonly [value]="phone" />
  </mat-form-field>
</div>
<!-- Register Form -->
<form
  class="example-form"
  [formGroup]="tutorForm"
  (ngSubmit)="onTutorFormSubmit()"
>
  <!-- Skills Chips Input -->
  <div class="row">
    <mat-form-field class="example-chip-list" appearance="outline">
      <mat-label>Skills</mat-label>
      <mat-chip-grid #skillChipGrid aria-label="Add skills">
        <mat-chip-row
          *ngFor="let skill of skills"
          (removed)="remove(skill, 'skill')"
          [editable]="true"
          (edited)="edit(skill, $event, 'skill')"
          [aria-description]="'press enter to edit ' + skill.name"
        >
          {{ skill.name }}
          <button matChipRemove [attr.aria-label]="'remove ' + skill.name">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        <input
          placeholder="Add skills"
          [matChipInputFor]="skillChipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event, 'skill')"
        />
      </mat-chip-grid>
    </mat-form-field>
  </div>
  <!-- Languages Chips Input -->
  <div class="row">
    <mat-form-field class="example-chip-list" appearance="outline">
      <mat-label>Languages</mat-label>
      <mat-chip-grid #languageChipGrid aria-label="Add languages">
        <mat-chip-row
          *ngFor="let language of languages"
          (removed)="remove(language, 'language')"
          [editable]="true"
          (edited)="edit(language, $event, 'language')"
          [aria-description]="'press enter to edit ' + language.name"
        >
          {{ language.name }}
          <button matChipRemove [attr.aria-label]="'remove ' + language.name">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        <input
          placeholder="Add languages"
          [matChipInputFor]="languageChipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event, 'language')"
          formArrayName="languages"
        />
      </mat-chip-grid>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Hourly Cost</mat-label>
      <input matInput formControlName="hourlyCost" />
      <mat-error *ngIf="tutorForm.controls['hourlyCost'].invalid">
        Hourly cost is required and should be a number
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Currency</mat-label>
      <mat-select formControlName="currency">
        <mat-option value="CAD">CAD</mat-option>
        <mat-option value="USD">USD</mat-option>
      </mat-select>
      <mat-error *ngIf="tutorForm.controls['currency'].invalid">
        Please provide a valid curreny
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Tell us something about yourself</mat-label>
      <textarea
        matInput
        matTextareaAutosize="false"
        [rows]="5"
        formControlName="description"
      ></textarea>
    </mat-form-field>
  </div>
  <!-- Image -->
  <div class="row">
    <input type="file" accept=".jpg,.jpeg,.png" (change)="onFileSelected($event)"/>
  </div>
  <div class="row">
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </div>
</form>
